<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>To-Do App</title>
</head>

<body>
    <h1>To-Do App</h1>
    <form action="">
        <input type="text" name="task" placeholder="Type the task.." autocomplete="off">
        <input type="submit" value="Create">
    </form>
    <br>
    <hr>
    <h2>Current Tasks</h2>
    <div class="task">
        <p>Do something..</p>
        <button>Done</button>
        <button>Delete</button>
    </div>
    <div class="task">
        <p>Do another thing..</p>
        <button>Done</button>
        <button>Delete</button>
    </div>

    <h2>Done Tasks</h2>
    <div class="task">
        <p>Do something..</p>
        <button>Done</button>
        <button>Delete</button>
    </div>
    <div class="task">
        <p>Do another thing..</p>
        <button>Done</button>
        <button>Delete</button>
    </div>

</body>

</html>